<h1 class="display-4">Stellar Phenomena</h1>

<table class="table">
  <tr>
    <th width="50%">Name</th>
    <th>Radius (Solar radii)</th>
  </tr>
  <% @stars.each do |star| %>
    <tr>
      <td><%= star.name %></td>
      <td><%= star.radius %></td>
    </tr>
  <% end %>
</table>

<table class="table">
  <tr>
    <th width="50%">Name</th>
    <th>Type/Group</th>
  </tr>
  <% @nebulae.each do |nebula| %>
    <tr>
      <td><%= nebula.name %></td>
      <td><%= nebula.group %></td>
    </tr>
  <% end %>
</table>
