// Bootstrap Vars
// ---------------------------------------------------------------------

// Colors
$brand-primary: #27b6af
$brand-secondary: #1f7bb6
$body-color: white
$theme-colors: ("primary": $brand-primary, "warning": #f0ad4e, "info": $brand-secondary, "success": #5cb85c)
$body-bg: #191926
$link-color: $brand-primary
$link-hover-color: darken($brand-primary, 10)
